/* NOTES: Clear allows you to take the elements to the right and treat them as blocks that the elements on the left column have to go under! */

/* whole body */ 

html {
    box-sizing: border-box; 
    font-family: "Calibri"; 
}

body {
    margin:0;
}


/* navigation */ 

.nav { 
    background-color:white; 
    width:100%; 
    height: 60px; 
    display:fixed; 
    position:relative; 
    border-bottom: 1px grey solid; 
}

.nav i {
    position:relative; 
}

.fa-bars {
    margin: 20px 10px 0 15px;
    font-size: 18px;
    color: grey; 
}

.fa-play-circle {
    margin-left: 10px;
}

input {
    position:relative; 
    margin-left: 70px;
    height: 25px;
    width: 500px;
    font-family: "Calibri";
    font-size: 18px; 
}

.fa-search { 
    border-style:solid; 
    border-width: 1px; 
    border-color: grey; 
    padding: 6px;
    background-color: white;
    margin-left:0;  
}

.right_i {
    margin-top: 15px;
    float:right; 
}

#acct { 
    margin-right: 15px; 
    font-size: 36px;
}

#notifications {
    margin-right: 18px;
    font-size: 32px;
    margin-top: 17px;
}

#chat { 
    margin-right: 18px;
    margin-top: 22px;
    font-size: 24px;
}

#apps { 
    margin-right: 18px;
    margin-top: 22px;
}

#video_add {
    margin-right: 17px;
    margin-top: 22px;
}


/* left side of main body - the video and comments */ 

main {
    position: relative; 
}

.video_container {
    height: 1200px;
    float: left; 
    width: 60%;
    margin-right: 10px;
}

iframe { 
    float:right; 
    margin-top: 20px; 
    width: 640px; 
    height: 360px; 
}

/* clear right allows it to consider the video as a block, booping it down! then i can float it :) */ 
.name_view_icons {
    width: 640px; 
    height: 110px; 
    clear:right; 
    float:right; 
    border-bottom: solid 1px grey; 
    padding-bottom: 0; 
}

#video_name { 
    font-size: 22px; 
    font-weight: bold; 
    font-family: "Calibri";  
}

.view_icons { 
    position:relative; 
    bottom: 50px; 
}

.name_view_icons .fa { 
    float:right; 
    position: relative; 
    bottom: 30px;
}

#views { 
    color: grey; 
    font-size: 18px; 
    font-family: "Calibri"; 
}

.fa { 
    margin-right: 15px;
}

.acct_summary { 
    width: 640px; 
    float:right;  
    border-bottom: grey 1px solid; 
}

#acct { 
    float:left; 
    font-size: 42px; 
}

#date { 
    color: grey; 
    font-size: 12px;
    font-family: "Calibri"; 
    position: relative; 
    bottom: 10px; 
}

.pub { 
    font-weight: bold; 
}

#subscribe { 
    background-color:red; 
    float:right; 
    position:relative; 
    bottom: 50px; 
    margin-right: 10px; 
    height: 40px; 
    width: 150px;
    font-family: "Calibri";
    font-weight: bold; 
    color: white; 
    font-size: 18px;
}

#sum { 
    margin-left: 40px; 
    margin-right: 30px; 
}


#show_more { 
    color: grey;  
    font-size: 15px; 
    margin-left: 35px; 
}

.comm_nav { 
    float: right; 
    clear: right; 
}

#comm_count { 
    font-size: 20px; 
    margin-right: 50%; 
}

#sort { 
    font-size: 20px; 
    position: relative; 
    bottom: 63px;
    margin-right: 400px; 
}






/* right side of main body - the thumbnail reccomendations */

.video_rec_container { 
    height:1200px;
    float:right; 
    width: 39%; 
    margin-left: 0;
}

#up_nxt { 
    margin-left: 15px; 
    font-size: 20px; 
    color: black; 
    font-family: "Calibri"; 
}

.up_nxt_contain { 
    border-bottom: solid 1px grey; 
    height: 160px;
}

.thumb_nail { 
    margin-left: 15px; 
    float:left; 
    clear:left;  
}

.title { 
    font-weight: bold; 
    font-size: 18px; 
    position: relative; 
    left: 15px;  
    margin-bottom: 0; 
}

.subtitle { 
    font-size: 15px; 
    color: grey; 
    position: relative; 
    left: 15px;
    margin-top: 0; 
}

.main_rec_contain { 
    margin-top: 20px;
}

.main_rec { 
    position:relative; 
    margin-bottom: 0; 
    margin-top: 0; 
    padding-bottom: 0; 
}

.rec_vid {  
    height:120px;
}

mark { 
    background-color: whitesmoke; 
    font-size: 12px;
}

#more { 
    color: grey; 
    margin-left: 48%; 
    margin-top: 0; 
    font-size: 18px;
}


